@mixin bp($point) {
  @if $point == mediumbp {
    @media only screen and (max-width: 768px) { @content; }
  }
}

@mixin bounce {
  -webkit-transition: left 0.5s cubic-bezier(.5,1.5,0,1);
    transition: left 0.5s cubic-bezier(.5,1.5,0,1);
}

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

$fb-color: #3c5f9a;
$menu-bgcolor: #393939;
$light-color: #FFFFFF;

*, *:before, *:after {
  margin:0;
  padding:0; 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2rem;
  @include bp(mediumbp) {
    font-size: 2.5rem;
    line-height: 3.1rem;
    -ms-touch-action: none;
  }
}

h1 {
  font-size: 32px;
  font-size: 3.2rem;
  @include bp(mediumbp){
    font-size: 37px;
    font-size: 3.7rem;
  }
}

h2 {
  font-size: 28px;
  font-size: 2.8rem;
  @include bp(mediumbp){
    font-size: 32px;
    font-size: 3.2rem;
  }
}

h1, h2, p {
  margin: 3rem 0;
}

label {
  display: none;
  @include bp(mediumbp) {
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    width: 4.5rem;
    height: 4.5rem;
    opacity: 0;
    z-index: 9;
  }
}

input[type="checkbox"] {
  display: none;
  @include bp(mediumbp){
    display: block;
    z-index: 1;
    opacity: 0;
    @include bounce;
    &:checked {
      + label {
      left: 72%;
      }
      ~ .wrapper{
        left: 70%;
        box-shadow: -.5rem 0 2rem rgba(0,0,0,0.8);
      }
    }
  }
}
  
.menu-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  border-top: 0.8rem solid $fb-color;
  @include bp(mediumbp){
    background-color: $menu-bgcolor;
    border-top: 0;
    padding: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    z-index: -1;
  }
}

.menu {
  width: 85rem;
  margin: -2.5rem auto;
  padding: 0;
  @include bp(mediumbp){
    background-color: $menu-bgcolor;
    left: 0;
    width: inherit;
    overflow: hidden;
    margin: 0;
  }
  li{
    display: inline-block;
    width: 10rem;
    height: 4.5rem;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    @include bp(mediumbp) {
      list-style: none;
      border-top: inset 0.1rem rgba(204, 204, 204, 0.3);
      border-bottom: 0.2rem solid #2A2A2A;
      width: 100%;
      height: 7rem;
      font-size: 1.3rem;
      text-indent: 1.5rem;
      letter-spacing: 0.2rem;
      @include linear-gradient(#393939, #3f3f3f);
    }
    a{
      display: block;
      color: #333;
      text-decoration: none;
      padding: 2rem .5rem .5rem;
      &:hover {
        background-color: $fb-color;
        color: $light-color;
      }
      @include bp(mediumbp) {
        color: $light-color;
        font-size: 2.4rem;
        line-height: 6.7rem;
        padding: 0;
      }
      }
    }
  }
  

.wrapper {
  background-color: $light-color;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  @include bp(mediumbp) {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-overflow-scrolling: touch;
    @include bounce;
  }
}

.content {
  width: 95%;
  margin: 8rem auto;
  overflow: hidden;
  @include bp(mediumbp) {
    margin: 1rem auto;
  }
}

.main-nav {
  @include bp(mediumbp) {
  @include linear-gradient(#4C6EA5, #3c5f9a);
  padding: 1.1rem;
  box-shadow: 0 .1rem 2rem rgba(0,0,0,0.7);
  .menu-icon {
    border: .1rem solid #365384;
    @include linear-gradient(#5373A5, #4C6EA5);
    box-shadow: 0 0 2rem rgba(0,0,0,0.2);
    position: relative;
    width: 4.5rem;
    padding: .5rem;
    border-radius: .4rem;
    .menu-icon-line {
      width: 3rem;
      height: .5rem;
      background-color: $light-color;
      margin: .4rem auto;
      border-radius: .5rem;
    }
  }
  }
}
