body {
  font-family: Arial, sans-serif;
}
input[type="checkbox"] {
  display: none;
}


.main-nav-horizontal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  border-top: 5px solid #385E9C;
}

ul {
  width: 75%;
  margin: -25px auto;
  padding: 0;
}

ul.menu li{
  display: inline-block;
  width: 100px;
  height: 45px;
}

ul.menu li a{
  text-decoration: none;
  color: #333;
  letter-spacing: 1px;
  font-size: 0.9em;
  letter-spacing: 1px;
  display: block;
  line-height: 65px;
  text-indent: 8px
}

ul.menu li a:hover {
  background-color: #385E9C;
  color: #ffffff;
}
.wrapper {
  position: absolute;
  top:50px;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height:100%;
}

@media all and (max-width: 768px){
.main-nav-horizontal {
  border-top: 0;
}

ul.menu {
  position: absolute;
  background-color:#393939;
  left: 0;
  top: -1px;
}

ul.menu  {
  padding: 0;
}

ul.menu li {
  list-style: none;
  border-top: inset 1px rgba(204, 204, 204, 0.3);
  border-bottom: 2px solid #2A2A2A;
  width: 100%;
  
  text-indent: 10px;
}

ul.menu li a {
  color: #ffffff;
  line-height: 45px;
}

.main-nav {
background-color: #3B5E9A;
padding: 10px;
box-shadow: 0 1px 5px rgba(0,0,0,0.7);
}

.menu-icon {
border: 1px solid #365384;
background-color: #466CB0;
position: relative;
width: 30px;
padding: 2px;
border-radius: 4px;
box-sizing: border-box;
}

.menu-icon-line {
width: 20px;
height: 3px;
background-color: #fff;
margin: 3px auto;
border-radius: 5px;
}

input[type="checkbox"] {
  display: block;
  position: relative;
  top: 10px;
  left: 7px;
  transition: all 0.5s ease;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.wrapper {
  position: absolute;
  top:0px;
  left: 0;
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

input[type="checkbox"]:checked + div.wrapper {
  left: 200px;
  box-shadow: -5px 0px 20px rgba(0,0,0,0.8);
}

input[type="checkbox"]:checked {
  left: 207px;
}
}